* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    width: 250px;
    height: 150px;
    background-color: #0349;
}

.rounded_black {
    border-radius: 50px;
    background-color: #000;
}